{% extends "partials/base.html" %} {% load static %}
{% block title %}Campaign{% endblock title %} {% block extra_css %}

<!-- Daterangepicker css -->
<link rel="stylesheet" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}" />

<!-- Vector Map css -->
<link rel="stylesheet" href="{% static 'vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" />

{% endblock extra_css %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box justify-content-between d-flex align-items-lg-center flex-lg-row flex-column">
            <h4 class="page-title">Dashboard</h4>
            <form class="d-flex mb-xxl-0 mb-2">
                <div class="input-group">
                    <input type="text" class="form-control shadow border-0" id="dash-daterange">
                    <span class="input-group-text bg-primary border-primary text-white">
                        <i class="ri-calendar-todo-fill fs-13"></i>
                    </span>
                </div>
                <a href="javascript: void(0);" class="btn btn-primary ms-2">
                    <i class="ri-refresh-line"></i>
                </a>
            </form>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-xxl-6 row-cols-lg-3 row-cols-md-2">
    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Number of Customers">Campanha feitas</h5>
                        <h3 class="my-3">{{ campaign_total }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span class="badge bg-success me-1"><i class="ri-arrow-up-line"></i>{{ campaign_total_now }}</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-success rounded rounded-3 fs-3 widget-icon-box-avatar shadow">
                            <i class="ri-group-line"></i>
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Completed Campaigns">Campanhas Concluídas</h5>
                        <h3 class="my-3">{{ campaign_finaly }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span class="badge bg-primary me-1"><i class="ri-check-line"></i> {{ campaign_finaly_now }}</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-primary rounded rounded-3 fs-3 widget-icon-box-avatar shadow">
                            <i class="ri-check-double-line"></i> <!-- Ícone de check duplo para simbolizar conclusão -->
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Number of Orders">Mensagens enviadas</h5>
                        <h3 class="my-3">{{ total_numbers }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span style="background-color: #299bf6;" class="badge me-1"><i class="ri-arrow-up-line"></i>{{ total_numbers_now }}</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-info rounded rounded-3 fs-3 widget-icon-box-avatar shadow">
                            <i class="ri-message-3-line"></i>
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Successful Messages">Mensagens com Sucesso</h5>
                        <h3 class="my-3">{{ total_success }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span class="badge bg-success me-1"><i class="ri-arrow-up-line"></i>{{ total_success_now }}</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-success rounded rounded-3 fs-3 widget-icon-box-avatar shadow ">
                            <i style="padding-top: 2px;" class="ri-checkbox-circle-line"></i> <!-- Ícone de mensagem -->
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Error Messages">Mensagens com Erro</h5>
                        <h3 class="my-3">{{ total_erro }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span class="badge bg-danger me-1"><i class="ri-arrow-up-line"></i>{{ total_erro_now }}</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-danger rounded rounded-3 fs-3 widget-icon-box-avatar shadow">
                            <i style="padding-top: 2px;" class="ri-error-warning-line"></i> <!-- Ícone de erro -->
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Conversation Ration">Taxa de resposta</h5>
                        <h3 class="my-3">{{ response_rate }}%</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span class="badge bg-warning me-1"><i class="ri-arrow-up-line"></i>{{ response_rate_now }}%</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-warning rounded rounded-3 fs-3 widget-icon-box-avatar">
                            <i class="ri-pulse-line"></i>
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div> <!-- end row -->

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title">Campanhas ativas</h4>
            </div>

            <div class="card-body pt-0">
                <!-- ApexCharts -->
                <div id="chart" class="apex-charts mb-3 mt-n5" data-colors="#4254ba"></div>
            
                <div class="scrollbar-responsive" style="min-height: 130px; max-height: 100px; overflow-x: auto;">
                    {% for campaign in campaigns %}
                        {% if campaign.fields.status == 'processando' %}
                            <a data-task="{{campaign.fields.id_progress}}" href="#">
                                <h5 class="mb-1 mt-0 fw-normal text-warning">
                                    {{ campaign.fields.name }} | 
                                    <span id="progress-state-{{ campaign.fields.id_progress }}" class="badge bg-warning text-white "></span> 
                                </h5>
                                <div class="progress-w-percent">
                                    <span class="progress-value fw-bold" id="progress-value-{{ campaign.fields.id_progress }}">0%</span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar" id="progress-bar-{{ campaign.fields.id_progress }}" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col-->
        <div class="col-xl-8">
            <div class="card">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <h4 class="header-title">Campanhas anteriores</h4>
                    <a href="javascript:void(0);" class="btn btn-sm btn-success">Export <i class="ri-download-line ms-1"></i></a>
                </div>
    
                <div class="card-body p-0">
                    <!-- Adicionando overflow para garantir o scroll em telas menores -->
                    <div class="table-responsive p-2 scrollbar-responsive" style="min-height: 410px; max-height: 410px; overflow-x: auto;">
                        <table class="table table-sm table-centered table-hover table-borderless mb-0">
                            <thead class="border-top border-bottom bg-light-subtle border-light">
                                <tr>
                                    <th style="width: 15%;" class="pl-2">Nome</th>
                                    <th>Status</th>
                                    <th>Enviadas</th>
                                    <th>Sucessos</th>
                                    <th>Erros</th>
                                    <th>Resposta</th>
                                    <th>Data inicio</th>
                                    <th>Data fim</th>
                                </tr> 
                            </thead>
                            <tbody>
                                {% for campaign in campaigns %}
                                    {% if campaign.fields.status != 'processando'  %}
                                    <a href="#">
                                        <tr style="cursor: pointer;">
                                            <td>{{ campaign.fields.name }}</td>
                                            <td class="{% if campaign.fields.status == 'finalizado' %}text-success{% elif campaign.fields.status == 'cancelado' %}text-danger{% endif %}">
                                                {{ campaign.fields.status }}
                                            </td>
                                            <td>{{ campaign.fields.total_numbers }}</td>
                                            <td>{{ campaign.fields.send_success }}</td>
                                            <td>{{ campaign.fields.send_erro }}</td>
                                            <td>{{ campaign.fields.response_rate }}%</td>
                                            <td>{{ campaign.fields.start_date_formatted }}</td>
                                            <td>{{ campaign.fields.end_date_formatted }}</td>
                                        </tr>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                              
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive -->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div>
        <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-7">
        <div class="card">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title">Revenue By Locations</h4>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="ri-more-2-fill"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Export Report</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item">Action</a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div id="world-map-markers" class="mt-3 mb-3" style="height: 317px">
                        </div>
                    </div>
                    <div class="col-lg-4" dir="ltr">
                        <div id="country-chart" class="apex-charts" data-colors="#17a497"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->
    <div class="col-xl-5">
        <div class="card">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title">Top Selling Products</h4>
                <a href="javascript:void(0);" class="btn btn-sm btn-info">Export <i
                        class="ri-download-line ms-1"></i></a>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-borderless table-hover table-nowrap table-centered m-0">
                        <thead class="border-top border-bottom bg-light-subtle border-light">
                            <tr>
                                <th class="py-1">Product</th>
                                <th class="py-1">Price</th>
                                <th class="py-1">Orders</th>
                                <th class="py-1">Avl. Quantity</th>
                                <th class="py-1">Seller</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ASOS Ridley High Waist</td>
                                <td>$79.49</td>
                                <td>82</td>
                                <td>8,540</td>
                                <td>Adidas</td>
                            </tr>
                            <tr>
                                <td>Marco Lightweight Shirt</td>
                                <td>$12.5</td>
                                <td>58</td>
                                <td>6,320</td>
                                <td>Puma</td>
                            </tr>
                            <tr>
                                <td>Half Sleeve Shirt</td>
                                <td>$9.99</td>
                                <td>254</td>
                                <td>10,258</td>
                                <td>Nike</td>
                            </tr>
                            <tr>
                                <td>Lightweight Jacket</td>
                                <td>$69.99</td>
                                <td>560</td>
                                <td>1,020</td>
                                <td>Puma</td>
                            </tr>
                            <tr>
                                <td>Marco Sport Shoes</td>
                                <td>$119.99</td>
                                <td>75</td>
                                <td>357</td>
                                <td>Adidas</td>
                            </tr>
                            <tr>
                                <td>Custom Women's T-shirts</td>
                                <td>$45.00</td>
                                <td>85</td>
                                <td>135</td>
                                <td>Branded</td>
                            </tr>
                            <tr>
                                <td>Marco Sport Shoes</td>
                                <td>$119.99</td>
                                <td>75</td>
                                <td>357</td>
                                <td>Adidas</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a href="#!" class="text-primary text-decoration-underline fw-bold btn mb-2">View All</a>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-4 col-lg-6">
        <div class="card">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title">Channels</h4>
                <a href="javascript:void(0);" class="btn btn-sm btn-success">Export <i
                        class="ri-download-line ms-1"></i></a>
            </div>

            <div class="card-body p-0">

                <div class="table-responsive">
                    <table class="table table-sm table-centered table-hover table-borderless mb-0">
                        <thead class="border-top border-bottom bg-light-subtle border-light">
                            <tr>
                                <th>Channel</th>
                                <th>Visits</th>
                                <th style="width: 40%;">Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Direct</td>
                                <td>2,050</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar" role="progressbar" style="width: 65%;"
                                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Organic Search</td>
                                <td>1,405</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 45%;"
                                            aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Refferal</td>
                                <td>750</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 30%;"
                                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Social</td>
                                <td>540</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Other</td>
                                <td>8,965</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 30%"
                                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-xl-4 col-lg-6">
        <div class="card">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title">Social Media Traffic</h4>
                <a href="javascript:void(0);" class="btn btn-sm btn-success">Export <i
                        class="ri-download-line ms-1"></i></a>
            </div>

            <div class="card-body p-0">

                <div class="table-responsive">
                    <table class="table table-sm table-centered table-hover table-borderless mb-0">
                        <thead class="border-top border-bottom bg-light-subtle border-light">
                            <tr>
                                <th>Network</th>
                                <th>Visits</th>
                                <th style="width: 40%;">Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Facebook</td>
                                <td>2,250</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar" role="progressbar" style="width: 65%"
                                            aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Instagram</td>
                                <td>1,501</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar" role="progressbar" style="width: 45%"
                                            aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Twitter</td>
                                <td>750</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar" role="progressbar" style="width: 30%"
                                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>LinkedIn</td>
                                <td>540</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Other</td>
                                <td>13,851</td>
                                <td>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar" role="progressbar" style="width: 52%"
                                            aria-valuenow="52" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title">Engagement Overview</h4>
                <a href="javascript:void(0);" class="btn btn-sm btn-success">Export <i
                        class="ri-download-line ms-1"></i></a>
            </div>

            <div class="card-body p-0">

                <div class="table-responsive">
                    <table class="table table-sm table-centered table-hover table-borderless mb-0">
                        <thead class="border-top border-bottom bg-light-subtle border-light">
                            <tr>
                                <th>Duration (Secs)</th>
                                <th style="width: 30%;">Sessions</th>
                                <th style="width: 30%;">Views</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0-30</td>
                                <td>2,250</td>
                                <td>4,250</td>
                            </tr>
                            <tr>
                                <td>31-60</td>
                                <td>1,501</td>
                                <td>2,050</td>
                            </tr>
                            <tr>
                                <td>61-120</td>
                                <td>750</td>
                                <td>1,600</td>
                            </tr>
                            <tr>
                                <td>121-240</td>
                                <td>540</td>
                                <td>1,040</td>
                            </tr>
                            <tr>
                                <td>141-420</td>
                                <td>56</td>
                                <td>886</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- end table-responsive-->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

</div>
<!-- end row -->

{% endblock content %} {% block extra_js %}
<!-- Daterangepicker js -->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>

<!-- Apex Charts js -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>

<!-- Vector Map js -->
<script src="{% static 'vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

<!-- Dashboard App js -->
<script src="{% static 'js/pages/demo.dashboard.js' %}"></script>



<!-- App js -->
<script src="{% static 'js/app.min.js' %}"></script>
<script>
    var options = {
      series: [67],
      chart: {
        height: 350,
        type: 'radialBar',
        offsetY: -10
      },
      plotOptions: {
        radialBar: {
          startAngle: -135,
          endAngle: 135,
          dataLabels: {
            name: {
              fontSize: '12px',
              color: undefined,
              offsetY: 120
            },
            value: {
              offsetY: 76,
              fontSize: '16px',
              color: undefined,
              formatter: function (val) {
                return val + "%";
              }
            }
          }
        }
      },
      fill: {
        type: 'gradient',
        gradient: {
            shade: 'dark',
            shadeIntensity: 0.10,
            inverseColors: false,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 50, 65, 91]
        },
      },
      stroke: {
        dashArray: 4
      },
      labels: ['Porcentagem'],
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>

<script>
       
    function att_progress_bar(){
        // Selecionar todos os elementos com a classe 'data-task'
        var tasks = document.querySelectorAll('[data-task]');

        tasks.forEach(task => {
            var taskId = task.getAttribute('data-task');
            var progressUrl = `http://10.0.0.73:8888/api/campaigns/progress/${taskId}`;

            // Fazer requisição Fetch para obter o progresso
            fetch(progressUrl)
                .then(response => {
                    console.log(response)
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(progressData => {
                    console.log(progressData)
                    // Atualizar a barra de progresso e o valor
                    var progressBar = document.getElementById('progress-bar-' + taskId);
                    var progressValue = document.getElementById('progress-value-' + taskId);
                    var progressState = document.getElementById('progress-state-' + taskId);
                    if (progressBar && progressValue) {
                        var progressPercent = progressData.progress.percent || 0;
                        progressBar.style.width = progressPercent + '%';
                        progressBar.setAttribute('aria-valuenow', progressPercent);
                        progressValue.textContent = progressPercent + '%';
                        progressState.innerHTML = progressData.state;
                        
                    }
                })
                .catch(error => {
                    console.error('Error fetching progress:', error);
                });
        });
     }
    // Atualizar o progresso a cada 5 segundos
    att_progress_bar();
    setInterval( att_progress_bar, 5000);
</script>

{% endblock extra_js %}