{% extends "partials/base.html" %} {% load static %}
{% block title %}Campaign{% endblock title %} {% block extra_css %}

<!-- Daterangepicker css -->
<link rel="stylesheet" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}" />

<!-- Vector Map css -->
<link rel="stylesheet" href="{% static 'vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" />

{% endblock extra_css %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box justify-content-between d-flex align-items-lg-center flex-lg-row flex-column">
            <h4 class="page-title">Dashboard</h4>
            <form class="d-flex mb-xxl-0 mb-2">
                <div class="d-flex align-items-center">
                    <label class="m-2" for="dataInicio">Início:</label>
                    <div class="input-group">
                        <input name="dataInicio" type="date" class="form-control shadow border-0" id="dataInicio">
                        <span class="input-group-text bg-primary border-primary text-white">
                            <i class="ri-calendar-todo-fill fs-13"></i>
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <label class="m-2" for="dataFim">Fim:</label>
                    <div class="input-group">
                        <input name="dataFim" type="date" class="form-control shadow border-0" id="dataFim">
                        <span class="input-group-text bg-primary border-primary text-white">
                            <i class="ri-calendar-todo-fill fs-13"></i>
                        </span>
                    </div>

                    <a href="javascript:void(0);" class="btn btn-primary ms-2" onclick="refreshDashboard()">
                        <i class="ri-refresh-line"></i>
                    </a>
                </div>

            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Função para obter o valor de um parâmetro da URL
            function getParameterByName(name) {
                const url = new URL(window.location.href);
                return url.searchParams.get(name);
            }

            // Função para obter o primeiro dia do mês
            function getFirstDayOfMonth() {
                const now = new Date();
                return new Date(now.getFullYear(), now.getMonth(), 1).toISOString().split('T')[0];
            }

            // Função para obter o último dia do mês
            function getLastDayOfMonth() {
                const now = new Date();
                return new Date(now.getFullYear(), now.getMonth() + 1, 0).toISOString().split('T')[0];
            }

            // Verificar se os parâmetros 'dataInicio' e 'dataFim' estão na URL
            const urlDataInicio = getParameterByName('dataInicio');
            const urlDataFim = getParameterByName('dataFim');

            // Se os parâmetros estiverem na URL, usá-los. Caso contrário, usar o primeiro e o último dia do mês atual.
            const dataInicio = urlDataInicio ? urlDataInicio : getFirstDayOfMonth();
            const dataFim = urlDataFim ? urlDataFim : getLastDayOfMonth();

            // Definir as datas nos inputs
            document.getElementById('dataInicio').value = dataInicio;
            document.getElementById('dataFim').value = dataFim;
        });
        function refreshDashboard() {
            const dataInicio = document.getElementById('dataInicio').value;
            const dataFim = document.getElementById('dataFim').value;

            // Construir a URL com os parâmetros de data
            const currentUrl = window.location.href.split('?')[0]; // Remove qualquer parâmetro existente
            const newUrl = `${currentUrl}?dataInicio=${dataInicio}&dataFim=${dataFim}`;

            // Redirecionar para a nova URL com os parâmetros de data
            window.location.href = newUrl;
        }
    </script>
</div>

<div class="row row-cols-1 row-cols-xxl-6 row-cols-lg-3 row-cols-md-2">
    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Number of Customers">Campanha feitas
                        </h5>
                        <h3 class="my-3">{{ campaign_total }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span class="badge bg-success me-1"><i
                                    class="ri-arrow-up-line"></i>{{campaign_total_now}}</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-success rounded rounded-3 fs-3 widget-icon-box-avatar shadow">
                            <i class="ri-group-line"></i>
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Completed Campaigns">Campanhas
                            Concluídas</h5>
                        <h3 class="my-3">{{ campaign_finaly }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span class="badge bg-primary me-1"><i
                                    class="ri-check-line"></i>{{campaign_finaly_now}}</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-primary rounded rounded-3 fs-3 widget-icon-box-avatar shadow">
                            <i class="ri-check-double-line"></i> <!-- Ícone de check duplo para simbolizar conclusão -->
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Number of Orders">Mensagens enviadas
                        </h5>
                        <h3 class="my-3">{{total_numbers}}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span style="background-color: #299bf6;" class="badge me-1"><i
                                    class="ri-arrow-up-line"></i>{{total_numbers_now}}</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-info rounded rounded-3 fs-3 widget-icon-box-avatar shadow">
                            <i class="ri-message-3-line"></i>
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Successful Messages">Mensagens com
                            Sucesso</h5>
                        <h3 class="my-3">{{ total_success }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span class="badge bg-success me-1"><i
                                    class="ri-arrow-up-line"></i>{{total_success_now}}</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span
                            class="avatar-title text-bg-success rounded rounded-3 fs-3 widget-icon-box-avatar shadow ">
                            <i style="padding-top: 2px;" class="ri-checkbox-circle-line"></i> <!-- Ícone de mensagem -->
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Error Messages">Mensagens com Erro</h5>
                        <h3 class="my-3">{{ total_erro }}</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span class="badge bg-danger me-1"><i class="ri-arrow-up-line"></i>{{total_erro_now}}</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-danger rounded rounded-3 fs-3 widget-icon-box-avatar shadow">
                            <i style="padding-top: 2px;" class="ri-error-warning-line"></i> <!-- Ícone de erro -->
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col">
        <div class="card widget-icon-box">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="flex-grow-1 overflow-hidden">
                        <h5 class="text-muted text-uppercase fs-13 mt-0" title="Conversation Ration">Taxa de resposta
                        </h5>
                        <h3 class="my-3">{{ response_rate }}%</h3>
                        <p class="mb-0 text-muted text-truncate">
                            <span class="badge bg-warning me-1"><i
                                    class="ri-arrow-up-line"></i>{{response_rate_now}}%</span>
                            <span>Hoje</span>
                        </p>
                    </div>
                    <div class="avatar-sm flex-shrink-0">
                        <span class="avatar-title text-bg-warning rounded rounded-3 fs-3 widget-icon-box-avatar">
                            <i class="ri-pulse-line"></i>
                        </span>
                    </div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div> <!-- end row -->

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title">Campanhas ativas</h4>
            </div>

            <div class="card-body pt-0 scrollbar-responsive"
                style="min-height: 425px; max-height: 100px; overflow-x: auto;">
                <!-- ApexCharts -->
                <div>
                    {% for campaign in campaigns %}
                    {% if campaign.status == 'processando' %}
                    <a style="cursor: pointer;" data-task="{{campaign.id_progress}}">
                        <h5 class="mb-1 mt-0 fw-normal text-warning">
                            {{ campaign.name }} |
                            <span id="progress-state-{{ campaign.id_progress }}" class="badge bg-warning text-white "></span>
                        </h5>
                        <div class="progress-w-percent">
                            <span class="progress-value fw-bold"
                                id="progress-value-{{ campaign.id_progress }}">0%</span>
                            <div class="progress progress-sm">
                                <div class="progress-bar" id="progress-bar-{{ campaign.id_progress }}"
                                    role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </a>
                    <script>
                        document.querySelector('[data-task="{{campaign.id_progress}}"]').addEventListener("click", function () {
                            window.location.href = '{% url "details_campaign" campaign.id %}';
                        });
                    </script>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col-->
    <div class="col-xl-8">
        <div class="card">
            <div class="d-flex card-header justify-content-between align-items-center">
                <h4 class="header-title">Campanhas anteriores</h4>
                <a href="javascript:void(0);" class="btn btn-sm btn-success">Export <i
                        class="ri-download-line ms-1"></i></a>
            </div>

            <div class="card-body p-0">
                <!-- Adicionando overflow para garantir o scroll em telas menores -->
                <div class="table-responsive p-2 scrollbar-responsive"
                    style="min-height: 410px; max-height: 410px; overflow-x: auto;">
                    <table class="table table-sm table-centered table-hover table-borderless mb-0">
                        <thead class="border-top border-bottom bg-light-subtle border-light">
                            <tr>
                                <th style="width: 15%;" class="pl-2">Nome</th>
                                <th>Status</th>
                                <th>Enviadas</th>
                                <th>Sucessos</th>
                                <th>Erros</th>
                                <th>Resposta</th>
                                <th>Data inicio</th>
                                <th>Data fim</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for campaign in campaigns %}
                            {% if campaign.status != 'processando' %}
                            <tr class="campaign-list-{{ campaign.id }}" style="cursor: pointer;">
                                <td>
                                    {{ campaign.name }}
                                </td>
                                <td
                                    class="{% if campaign.status == 'finalizado' %}text-success{% elif campaign.status == 'cancelado' %}text-danger{% endif %}">
                                    {{ campaign.status }}
                                </td>
                                <td>{{ campaign.total_numbers }}</td>
                                <td>{{ campaign.send_success }}</td>
                                <td>{{ campaign.send_erro }}</td>
                                <td>{{ campaign.response_rate }}%</td>
                                <td>{{ campaign.start_date_formatted }}</td>
                                <td>{{ campaign.end_date_formatted }}</td>
                            </tr>
                            <script>
                                document.querySelector('.campaign-list-{{ campaign.id }}').addEventListener("click", function () {
                                    window.location.href = '{% url "details_campaign" campaign.id %}';
                                });
                            </script>
                            {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                </div> <!-- end table-responsive -->
            </div> <!-- end card-body -->
        </div> <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->



</div>
<!-- end row -->

{% endblock content %} {% block extra_js %}
<!-- Daterangepicker js -->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>

<!-- Apex Charts js -->
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>

<!-- Vector Map js -->
<script src="{% static 'vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'vendor/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

<!-- Dashboard App js -->
<script src="{% static 'js/pages/demo.dashboard.js' %}"></script>



<!-- App js -->
<script src="{% static 'js/app.min.js' %}"></script>

<script>

    function att_progress_bar() {
        // Selecionar todos os elementos com a classe 'data-task'
        var tasks = document.querySelectorAll('[data-task]');

        tasks.forEach(task => {
            var taskId = task.getAttribute('data-task');
            var progressUrl = `https://control.star.dev.br/api/campaigns/progress/${taskId}`;

            // Fazer requisição Fetch para obter o progresso
            fetch(progressUrl)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(progressData => {
                    // Atualizar a barra de progresso e o valor
                    var progressBar = document.getElementById('progress-bar-' + taskId);
                    var progressValue = document.getElementById('progress-value-' + taskId);
                    var progressState = document.getElementById('progress-state-' + taskId);
                    if (progressBar && progressValue) {
                        var progressPercent = progressData.progress.percent || 0;
                        progressBar.style.width = progressPercent + '%';
                        progressBar.setAttribute('aria-valuenow', progressPercent);
                        progressValue.textContent = progressPercent + '%';
                        if (progressData.state == 'FAILURE') {
                            progressState.classList.remove('bg-warning')
                            progressState.classList.add('bg-danger')
                            text = progressState.parentNode
                            text.classList.remove('text-warning')
                            text.classList.add('text-danger')
                        }
                        progressState.innerHTML = progressData.state;

                    }
                })
                .catch(error => {
                    console.error('Error fetching progress:', error);
                });
        });
    }
    // Atualizar o progresso a cada 5 segundos
    att_progress_bar();
    setInterval(att_progress_bar, 5000);
</script>

{% endblock extra_js %}