{% load static %}

{% include "partials/main.html" %}

<head>
    {% include "partials/title-meta.html" with title="Log In" %}

    {% include "partials/head-css.html" %}
</head>

<body class="authentication-bg position-relative">

    {% include "partials/background.html" %}

    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card">

                        <!-- Logo -->
                        <div class="card-header p-0 text-center">
                            <div class="auth-brand mb-0">
                                <a href="/" class="logo-dark">
                                    <span><img src="{% static 'images/logo.png' %}" alt="dark logo" height="180"></span>
                                </a>
                                <a href="/" class="logo-light">
                                    <span><img src="{% static 'images/logo.png' %}" alt="logo" height="180"></span>
                                </a>
                            </div>
                        </div>

                        <div class="card-body p-4 pt-0">

                            <div class="text-center w-75 m-auto">
                                <h4 class="text-dark-50 text-center pb-0 fw-bold">Login</h4>
                                <p class="text-muted mb-4">Entre com seu Usuario e Senha para acessar o painel de admin
                                </p>
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} pt-2">
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            
                            <form action="{% url 'login_auth' %}" method="post" class="needs-validation" novalidate>
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="emailaddress" class="form-label">Usuario</label>
                                    <input class="form-control" type="text" id="emailaddress" 
                                            placeholder="Digite seu Usuario" name="username" required>
                                    <div class="invalid-feedback">
                                        Por favor! preencha esse campo.
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <a href="" class="text-muted float-end fs-12">Esqueceu sua senha?</a>
                                    <label for="password" class="form-label">Senha</label>
                                    <div class="input-group input-group-merge">
                                        <input type="password" id="password" class="form-control"
                                            placeholder="Digite sua Senha" name="password" required>
                                        <div class="input-group-text" data-password="false">
                                            <span class="password-eye"></span>
                                        </div>
                                        <div class="invalid-feedback">
                                            Por favor! preencha esse campo.
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 mb-0 text-center">
                                    <button class="btn btn-primary" type="submit"> Entrar </button>
                                </div>

                            </form>
                        </div> <!-- end card-body -->
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <footer class="footer footer-alt">
        <span class="text-white-50">
            <script>document.write(new Date().getFullYear())</script> © Maxxx Moveis
        </span>
    </footer>

    {% include "partials/footer-script.html" %}

    {% block extra_js %}
    <!-- App js -->
    <script src="{% static 'js/app.min.js' %}"></script>
    {% endblock extra_js %}